body {
   margin: 0px;
   padding: 0px;
   position: relative;
   font-size: 14px;
   color: #484848;
   font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
   position: relative; 
   min-height: 100vh;
}

.container{
   max-width: 1000px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin: auto;
}
  
